<div class="page_wrap">
  <header>
    <div class="large_logo wow fadeIn">
      <h1 class="hiddenH1">Infusionsoft</h1>
      <img draggable="false" src="content/img/Infusionsoft Logo/1 Color/Infusionsoft-logo-cornerstone 1 color - White.png" alt="Infusionsoft logo"/>
    </div>
    <h3>Your personal check list guide for Infusionsoft</h3>
  </header>

<!-- would be best to figure this out so it can use an ng-repeat-->
  <div class="card_container">
    <div ng-repeat="card in directory">
      <a id="{{card.id}}" ng-style="testSetColor(card, card.title)" class="card" ng-href="/{{card.view}}">
        <h6 class="card_title">{{card.title}}</h6>
        <div class="card_icon_wrap">
          <img src="content/img/icons/gettingstarted.png" ng-src="content/img/icons/{{card.icon}}" alt="{{card.title}}" />
        </div>
      </a>
    </div>
  </div>

  <completed-check myvalue="'green'"><h2>This is a great test</h2></completed-check>
  <completed-check myvalue="'red'"><h2>This is a great test</h2></completed-check>


  <div class="card_container">

    <a class="card" href="/get-started">
      <h6 class="card_title">getting started</h6>
      <div class="card_icon_wrap">
        <img src="content/img/icons/gettingstarted.png" alt="get started icon" />
      </div>
    </a>

    <a ng-style="setColor()" class="card" href="/import-contacts">
      <h6 class="card_title">import contacts</h6>
      <div class="card_icon_wrap">
        <img src="content/img/icons/crm-icon.png" alt="Import contacts icon" />
      </div>
    </a>

  </div>

</div>
