<div class="page_wrap">
  <header>
    <div class="large_logo wow fadeIn">
      <h1 class="hiddenH1">Infusionsoft</h1>
      <img draggable="false" src="content/img/Infusionsoft Logo/1 Color/Infusionsoft-logo-cornerstone 1 color - White.png" alt="Infusionsoft logo"/>
    </div>
    <h3>Your personal check list guide for Infusionsoft</h3>
  </header>

<!-- would be best to figure this out so it can use an ng-repeat-->
  <div class="card_container">
    <div ng-repeat="card in directory">
      <a class="card directory ng-class:{'ready': card.checkprev() }" ng-href="/phase{{$index}}">
        <div class="checkmark_container">
        	<svg class="run-animation" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
        		<circle class="mark circle ng-class:{'checked' : card.checkThis() }" cx="100" cy="100" r="94"/>
        		<polyline class="mark checkmark ng-class:{'checked' : card.checkThis() }" points="46.9 101.4 76.9 131.4 146.4 61.9"/>
        	</svg>
        </div>
        <h6 class="card_title">{{card.title}}</h6>
        <div class="card_icon_wrap">
          <img src="content/img/icons/gettingstarted.png" ng-src="content/img/icons/{{card.icon}}" alt="{{card.title}}" />
        </div>
      </a>
    </div>
  </div>

</div>
