<div class="main_nav_container headroom" headroom>
  <nav id="main_nav">
    <div class="nav_logo">
      <img src="content/img/app-logo.png">
      <h3 class="btn btn_orange">Filter Categories</h3>
    </div>
    <nav class="nav_options">
      <div><a href="/">scripts</a></div>
      <div><a href="/trouble-shoot-helps">trouble shoot helps</a></div>
      <div><a class="btn_transparent" href="/suggestion">make a suggestion</a></div>
    </nav>
    <div class="mobile_nav">
      <div id="m_nav_btn">
        <span>Menu</span>
        <div class="top"></div>
        <div class="mid"></div>
        <div class="bottom"></div>
      </div>
      <nav class="mobile_nav_options">
        <div><a href="/">scripts</a></div>
        <div><a href="/trouble-shoot-helps">trouble shoot helps</a></div>
        <div><a href="/suggestion">make a suggestion</a></div>
      </nav>
      <script src="content/js/nav.js"></script>
    </div>
  </nav>
</div>
