<a class="back_btn" href="/phase{{tut.id}}">
  <div></div>
  <div></div>
</a>

<div class="page_wrap">
  <header>
    <div class="directory_title">
      <img src="content/img/Infusionsoft Logo/1 Color/cornerstone 1 color - White.png" alt="infusionsoft logo" />
      <h1 class="directory_title">{{tut.title}}</h1>
    </div>
  </header>
</div>

<section tut-silder>

</section>

<div class="slideBtns prev" ng-click=""><span><</span></div>
<div class="slideBtns next" ng-click=""><span>></span></div>

<!-- <div class="page_slider_wrap">
  <div class="page_slider_container">
    <div class="slide slide{{$index}}" ng-repeat="item in tut.tutPages">
      {{item.title}} {{$index}}

    </div>
  </div>
</div> -->

<!-- a possible way to make this work can be foudn here:
  https://www.sitepoint.com/creating-slide-show-plugin-angularjs/

  example files:
  https://github.com/jsprodotcom/source/blob/master/angular-slider.zip
 -->

<!--<div class="flex_center">
  <a class="btn btn_alt_white" href="/phase{{tut.id}}" ng-click="tut.doneBtn()">Done</a>
</div>-->
