/*==========BUTTONS==========*/
.btn {
  font-size: 1em;
  cursor: pointer;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    border: 0;
    display: inline-block;
    transition: all .3s;
    white-space: nowrap;
    box-shadow: 1px 1px 3px rgba(41,41,41,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .btn:hover {
        background: transparent;
        box-shadow: 6px 6px 3px rgba(41,41,41,0.4);
    }

.btn_white {
    border: 1px solid white;
    color: #302B2C;
    background: white;
}
    .btn_white:hover {
        color: #302B2C;
    }

  .btn_transparent {
      border: 1px solid white;
      color: #302B2C;
      background: transparent;
      border-radius: 3px;
      padding: 0.3em 0.5em;
      transition: all .3s;
  }
      .btn_transparent:hover {
          color: #302B2C;
          background: white;
      }

.btn_darkgray {
    border: 1px solid #2D2D30;
    color: white;
    background: #2D2D30;
}
    .btn_darkgray:hover {
        color: white;
    }

.btn_orange {
    color: white;
    background-color: rgba(255,150,16,1);
}
    .btn_orange:hover {
        color: white;
        background: rgba(255,100,16,1);
    }

.btn_blue {
    color: white;
    background: rgba(66,186,247,1);
}
    .btn_blue:hover {
        color: white;
        background: rgba(66,186,255,1);
    }

/*---SMALL BUTTONS---*/
.button_orange_sm {
    padding: 3px 10px;
    text-decoration: none;
    border: 1px solid #F55F41;
    border-radius: 5px;
    color: white;
    display: inline-block;
    line-height: 15px;
    transition: all .5s;
    background: #F55F41;
}

.button_orange_sm:hover {
    color: white;
    background: transparent;
}

/*---==forms==---*/
.me-input-group input, [type=submit], .me-input-group textarea {
    font-family: lato, sans-serif;
    padding: 10px;
    border-radius: 3px;
}

.me-input-group input, .me-input-group textarea {
    background: #fff;
    border: 1px solid #bdc3c7;
    margin: 0 0 15px 0;
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s;
    font-size: 18px;
}

.me-input-group textarea {
    max-width: 100%;
    height: 300px;
    max-height: 400px;
}

.me-input-group input:focus, .me-input-group textarea:focus {
    outline: none;
    border: 1px solid rgba(52,152,219,.5);
    box-shadow: 0 0 5px #2980b9;
}
/*-drop downs-*/
.me-dropdown-group {
  position: relative;
  display: inline-block;
}
select.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(80,80,80,.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  margin: 15px 0px;
  display: block;
  width: 200px;
  height: auto;
  font-family: lato, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
.me-dropdown-group::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 53%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-arrow.svg") no-repeat center center;
  pointer-events: none;
  box-sizing: border-box;
}
option .option_note {
  font-size: 50%;
}

/*place holder style*/
.me-input-group input::-webkit-input-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input::-moz-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input:-ms-input-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input:-moz-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}

/* .me-checkbox */
.me-checkbox-group {
	display: block;
	margin: 20px 0;
	position: relative;
}
.me-checkbox {
  position: absolute;
	display: inline-block;
	right: 0;
}
.me-checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #e8ebee 0%, #f6f6f7 100%);
  background: linear-gradient(to bottom, #e8ebee 0%, #f6f6f7 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.me-checkbox label::after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 6px;
  border: 3px solid #292929;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.me-checkbox label:hover::after {
  opacity: 0.3;
}
.me-checkbox input[type=checkbox] {
  visibility: hidden;
}
.me-checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}

/*submit*/
.me-input-group [type=submit] {
    border: 0px;
    border: none;
    color: rgba(80,80,80,1);
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
    padding: 10px 20px;
}
.me-input-group [type=submit]:hover {
    outline: none;
    box-shadow: 0 0 4px #2980b9;
}
