.large_logo img {
  margin: 0 auto 2em auto;
  width: 50%;
}

/*directory nav -card*/
.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  background: #fff;
  padding: 3em 1em;
  margin: 3vmax;
  width: 190px;
  height: 223px;
  color: #303442;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 4px 20px rgba(41,41,41,.5);
  transition: all 0.2s;
  cursor: pointer;
}
.directory.card {
  filter: grayscale(1);
  background: rgb(240,240,240);
}
a.card {
  text-decoration: none;
}

.card_icon_wrap img {
  width: 70px;
  margin: 2em auto 0 auto;
}

.card:hover {
  transform: scale(1.05);
}

/*activity colors*/
.directory.card.ready {
  filter: grayscale(0);
  background: #fff;
}

.directory_title {
  display: flex;
  justify-content: center;
  font-size: 6vmax;
}
.directory_title img {
  /*width: 50px;
  height: 93px;*/
  width: 5vmax;
  height: 8vmax;
  align-self: center;
}
.directory_title h1 {
  align-self: center;
  margin-left: 0.6em;
}

/*check lists*/
.checklist_container {
  display: block;
  width: 100%;
  margin: 2em 0;
}
.checklist {
  background: #fff;
  border: none;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 20px -5px rgba(41,41,41,.5);
  display: flex;
  text-decoration: none;
  color: #414141;
  padding: 1em;
  margin-bottom: 1em;
  transition: all 0.2s;
  cursor: pointer;
}

.checklist:hover {
  transform: scale(1.02);
  box-shadow: 5px 6px 20px -5px rgba(41,41,41,.5);
}

.checklist_title {
  align-self: center;
  margin-left: 1em;
}


/* Check mark*/
.mark {
  fill: none;
  stroke: rgb(202,202,202);
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

.checkmark_container svg {
  width: 30px;
  height: 30px;
  display: block;
}

.circle {
  stroke-dasharray: 700;
  /*stroke-dashoffset: 700;*/
  stroke-dashoffset: 0;
}

.checkmark {
  stroke-dasharray: 150;
  /*stroke-dashoffset: 150;*/
  stroke-dashoffset: 0;
}

.checkmark_container svg .checked {
  stroke: #79be37;
}

/*
.run-animation .circle {
  -webkit-animation: 2.5s circleDraw forwards;
          animation: 2.5s circleDraw forwards;
}
.run-animation .checkmark {
  -webkit-animation: 0.75s checkmarkDraw forwards;
          animation: 0.75s checkmarkDraw forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
*/

@-webkit-keyframes circleDraw {
  from {stroke-dashoffset: 700;}
  to {stroke-dashoffset: 0;}
}

@keyframes circleDraw {
  from {stroke-dashoffset: 700;}
  to {stroke-dashoffset: 0;}
}
@-webkit-keyframes checkmarkDraw {
  from {stroke-dashoffset: 150;}
  to {stroke-dashoffset: 0;}
}
@keyframes checkmarkDraw {
  from {stroke-dashoffset: 150;}
  to {stroke-dashoffset: 0;}
}
