.large_logo img {
  margin: 0 auto 2em auto;
  width: 50%;
}

/*directory nav -card*/
.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  background: #fff;
  padding: 3em 1em;
  margin: 3vmax;
  width: 190px;
  height: auto;
  color: #303442;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 4px 20px rgba(41,41,41,.5);
  transition: all 0.2s;
  cursor: pointer;
}
.directory.card {
  filter: grayscale(1);
  background: rgb(240,240,240);
}
a.card {
  text-decoration: none;
}

.card_icon_wrap img {
  width: 70px;
  margin: 2em auto 0 auto;
}

.card:hover {
  transform: scale(1.1);
}

/*activity colors*/
.directory.card.ready {
  filter: grayscale(0);
  background: #fff;
}
